<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://itsyourstruly.github.io/apollo/</string>
	<key>SUPublicEDKey</key>
	<string>8vw86bFWwPrPG2NERblya5qbUwuJGotKrO2ogsYqDa0=</string>
</dict>
</plist>
